<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light site-navbar">
        <div class="container site-container">
            <a class="navbar-brand site-brand" href="/">
                <span class="brand-logo">FS</span>
                <span class="brand-copy">FullStats</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavMenu" aria-controls="siteNavMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="siteNavMenu">
                <div class="navbar-nav me-auto mb-3 mb-lg-0">
                    <a class="nav-link site-nav-link" href="/">Home</a>
                    <a class="nav-link site-nav-link" href="/tasks">Tasks</a>
                </div>

                <div class="d-flex flex-column flex-lg-row gap-2">
                    <% if (typeof isLoggedIn !== 'undefined' && isLoggedIn) { %>
                        <form action="/logout" method="POST" class="m-0">
                            <button type="submit" class="btn btn-dark site-button">Logout</button>
                        </form>
                    <% } else { %>
                        <a href="/login" class="btn btn-outline-secondary site-button">Login</a>
                        <a href="/register" class="btn btn-dark site-button">Register</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
</header>
